{"openapi":"3.1.0","info":{"title":"sample file","description":"","version":"1.0.0"},"tags":[{"name":"Sample APIs"},{"name":"pet"}],"paths":{"/pet/{petId}":{"get":{"summary":"Find pet by ID","deprecated":false,"description":"","tags":["Sample APIs","pet"],"parameters":[{"name":"petId","in":"path","description":"pet ID","required":true,"example":"1","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","minimum":0,"maximum":0,"description":"status code"},"data":{"$ref":"#/components/schemas/Pet","description":"pet details"}},"required":["code","data"]},"examples":{"1":{"summary":"Success example","value":{"code":0,"data":{"name":"Hello Kitty","photoUrls":["http://dummyimage.com/400x400"],"id":3,"category":{"id":71,"name":"Cat"},"tags":[{"id":22,"name":"Cat"}],"status":"sold"}}}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}}},"security":[{"apikey-header-Authorization":[]}]},"delete":{"summary":"Deletes a pet","deprecated":false,"description":"","tags":["Sample APIs","pet"],"parameters":[{"name":"petId","in":"path","description":"Pet id to delete","required":true,"schema":{"type":"string"}},{"name":"api_key","in":"header","description":"","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","minimum":0,"maximum":0}},"required":["code"]},"examples":{"1":{"summary":"Success example","value":{"code":0}}}}}}},"security":[{"apikey-header-Authorization":[]}]}},"/pet":{"post":{"summary":"Add a new pet to the store","deprecated":false,"description":"","tags":["Sample APIs","pet"],"parameters":[],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"description":"Pet Name","example":"Hello Kitty","type":"string"},"status":{"description":"Pet Sales Status","example":"sold","type":"string"}},"required":["name","status"]}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","minimum":0,"maximum":0},"data":{"$ref":"#/components/schemas/Pet","description":"pet details"}},"required":["code","data"]},"examples":{"1":{"summary":"Success example","value":{"code":0,"data":{"name":"Hello Kitty","photoUrls":["http://dummyimage.com/400x400"],"id":3,"category":{"id":71,"name":"Cat"},"tags":[{"id":22,"name":"Cat"}],"status":"sold"}}}}}}}},"security":[{"apikey-header-Authorization":[]}]},"put":{"summary":"Update an existing pet","deprecated":false,"description":"","tags":["Sample APIs","pet"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"id":{"type":"integer","format":"int64","minimum":1,"description":"Pet ID"},"category":{"$ref":"#/components/schemas/Category","description":"group"},"name":{"type":"string","description":"name","examples":["doggie"]},"photoUrls":{"type":"array","items":{"type":"string"},"description":"image URL"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"},"description":"tag"},"status":{"type":"string","description":"Pet Sales Status","enum":["available","pending","sold"]}},"required":["id","category","name","photoUrls","tags","status"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"data":{"$ref":"#/components/schemas/Pet","description":"pet details"}},"required":["code","data"]},"examples":{"1":{"summary":"Success example","value":{"code":0,"data":{"name":"Hello Kitty","photoUrls":["http://dummyimage.com/400x400"],"id":3,"category":{"id":71,"name":"Cat"},"tags":[{"id":22,"name":"Cat"}],"status":"sold"}}}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"405":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"security":[{"apikey-header-Authorization":[]}]}},"/pet/findByStatus":{"get":{"summary":"Finds Pets by status","deprecated":false,"description":"","tags":["Sample APIs","pet"],"parameters":[{"name":"status","in":"query","description":"Status values that need to be considered for filter","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Pet","description":"pet details"}},"examples":{"1":{"summary":"Success example","value":{"code":0,"data":[{"name":"Hello Kitty","photoUrls":["http://dummyimage.com/400x400"],"id":3,"category":{"id":71,"name":"Cat"},"tags":[{"id":22,"name":"Cat"}],"status":"sold"},{"name":"White Dog","photoUrls":["http://dummyimage.com/400x400"],"id":3,"category":{"id":71,"name":"Dog"},"tags":[{"id":22,"name":"Dog"}],"status":"sold"}]}}}}}},"400":{"description":"Invalid status value","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"}},"required":["code"]}}}}},"security":[{"apikey-header-Authorization":[]}]}},"/v1/identityManagement/globalUsers/signIn":{"post":{"summary":"Login API","deprecated":false,"description":"Sample description abcd","tags":["Sample APIs"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}},"example":{"emailAddress":"system_user@eazy2biz.com","password":"OyvQ0eCrlk68p9Ks","companyId":100000}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"security":[{"apikey-header-Authorization":[]}]}},"/v1/identityManagement/localUsers/":{"get":{"summary":"Get Local Users","deprecated":false,"description":"","tags":["Sample APIs"],"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}},"security":[{"apikey-header-Authorization":[]}]}}},"components":{"schemas":{"Tag":{"type":"object","properties":{"id":{"type":"integer","format":"int64","minimum":1,"description":"Tag ID"},"name":{"type":"string","description":"Tag Name"}}},"Category":{"type":"object","properties":{"id":{"type":"integer","format":"int64","minimum":1,"description":"Category ID"},"name":{"type":"string","description":"Category Name"}}},"Pet":{"required":["name","photoUrls","id","category","tags","status"],"type":"object","properties":{"id":{"type":"integer","format":"int64","minimum":1,"description":"Pet ID"},"category":{"$ref":"#/components/schemas/Category","description":"group"},"name":{"type":"string","description":"name","examples":["doggie"]},"photoUrls":{"type":"array","items":{"type":"string"},"description":"image URL"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"},"description":"tag"},"status":{"type":"string","description":"Pet Sales Status","enum":["available","pending","sold"]}}}},"securitySchemes":{"apikey-header-Authorization":{"type":"apiKey","in":"header","name":"Authorization"}}},"servers":[{"url":"https://api.qal.eazy2biz.com","description":"Develop Env"},{"url":"https://test.your-api-server.com","description":"Testing Env"},{"url":"https://prod.your-api-server.com","description":"Prod Env"},{"url":"https://petstore-demo.apidog.com","description":"Petstore Env"}]}